@media screen and (max-width:1300px) {
	h1 {
	    font-size: 35px;
	}

	h2 {
		font-size: 22px;
	}

	body {
		font-size: 14px;
	}

	.wrapper {
		width: 768px;
	}

	.header {
		padding: 15px 0 0 0;
		font-size: 12px;
	}

	.header__left {
		width: 180px;
	}

	.header__right {
		width: 560px;
	}

	.header__top {
		justify-content: space-between;
	}

	.header__phone {
		width: 300px;
		margin-right: 50px;
	}

	.social__item {
		width: 25px;
		height: 25px;
		margin-right: 7px;
		background-size: 25px;
	}

	.footer .social__item,
	.footer .social__item:hover {
		width: 20px;
		height: 20px;
		background-size: 20px;
	}

	.header__bottom {
		margin-top: 15px;
	}

	.header__menu {
		width: 420px;
	}

	.header__menu_item {
		padding-top: 1px;
		padding-bottom: 18px;
	}

	.arrow_down:after {
		top: -7px;
		right: -9px;
	}

	.search {
		width: 125px;
	}

	.search input {
		line-height: 10px;
		padding: 4px 8px 4px 25px;
	}

	.search button {
		width: 15px;
		height: 15px;
		background-size: 15px;
		top: 5px;
		left: 5px;
	}

	.header__drop {
		top: 85px;
		padding: 15px 25px;
		font-size: 12px;
		opacity: 1;
	}

	.header__drop_media {
		position: relative;
	}

	.header__drop_pic {
		width: 90%;
	}

	.header__drop_pic img {
		width: 100%;
	}

	.header__drop_header {
		font-size: 12px;
		margin-top: 20px;
	}

	.header__drop_menu-item:first-child {
		padding: 8px 0;
	}

	.header__drop_menu-item {
		padding: 8px 0;
	}

	.header__drop_list-item {
		padding-bottom: 20px;
	}

	.header__drop_list-item:before {
		top: 0px;
		left: 0px;
	}

	.header__drop_small {
		font-size: 10px;
	}

	.page__main {
		margin-bottom: 70px;
	}

	.slide {
		height: 400px;
	}

	.slick-prev,
	.slick-next
	{
	    width: 40px;
	    height: 40px;
	}

	.slick-arrow::before {
		width: 6px;
		height: 12px;
		background-size: 6px;
	}

	.info__block {
		width: 50%;
		margin-left: 7%;
	}

	.info__block_text {
		line-height: 65px;
	}

	.info__block_text span {
		font-size: 36px;
	}

	.content__header {
		margin-top: 50px;
		margin-bottom: 30px;
		font-size: 22px;
	}

	.content__header_upp {
		font-size: 22px;
	}

	.news__item {
		padding: 20px;
	}

	.news__item_date {
		font-size: 12px;
	}

	.news__item_text {
		font-size: 14px;
	}

	.more {
		font-size: 14px;
	}

	.more:after {
		width: 15px;
		height: 15px;
	}

	.more:hover {
		font-size: 16px;
	}

	.more:hover:after {
		width: 17px;
		height: 17px;
	}

	.health__item_pic {
		height: 170px;
	}

	.health__item_header {
		margin-top: 20px;
		font-size: 18px;
	}

	.page__footer {
		padding: 50px 0;
		font-size: 12px;
	}

	.footer__top {
		padding-bottom: 30px;
	}

	.scrollup {
		top: -50px;
		width: 80px;
		height: 64px;
	}

	.footer__logo {
		margin-top: -35px;
		margin-bottom: 30px;
	}

	.footer__contacts_item {
		margin-bottom: 7px;
		max-width: 80%;
	}

	.footer__menu_header {
		margin-bottom: 15px;
	}

	.footer__menu_item {
		margin-bottom: 7px;
	}

	.footer__menu_products {
		width: 250px;
	}

	.footer__menu_all {
		width: 250px;
	}

	.footer__menu_item span {
		font-size: 10px;
	}

	.footer__bottom {
		border-top: 1px solid #38476c;
		padding-top: 30px;
	}

	.footer__bottom-menu_items {
		flex-wrap: wrap;
	}

	.footer__bottom-menu_item {
		width: 100%;
		margin: 5px 0px;
	}

	.footer__bottom-menu_item:first-child {
		margin-left: 0;
	}

	.footer__bottom-menu_item:after {
		content: ' ';
		right: 0px;
	}

	.footer__bottom_info {
		font-size: 11px;
		margin-top: 30px;
	}

	.footer__bottom_dev img {
		width: 10px;
		height: 10px;
	}

	/*Inner page*/
	.main__header {
		padding-top: 25px;
	}

	.main__header_dark-bg {
		min-height: 210px;
	}

	.page__title {
		margin-top: 15px;
		margin-bottom: 50px;
	}

	.main__menu_items {
		padding-bottom: 25px
	}

	.main__menu_item {
		margin-right: 30px;
	}

	.main__menu_item a {
		padding-bottom: 23px;
	}

	.pdf__block_icon {
		width: 25px;
		height: 32px;
	}

	.pdf__block_content {
		font-size: 12px;
	}

	.our__values {
		margin-bottom: 50px;
	}

	.our__values_items {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: -30px;
	}

	.our__values_item {
		padding: 13px 28px 13px 50px;
		margin-right: 30px;
		margin-top: 20px;
		font-size: 12px;
	}

	.our__value_icon:before {
		width: 20px;
		height: 20px;
		top: -3px;
		left: -30px;
	}

	.our__value_love:before {
		background-size: 18px;
	}

	.our__value_responsibility:before {
		background-size: 20px;
	}

	.our__value_freedom:before {
		background-size: 20px;
	}

	.our__value_engagement:before {
		background-size: 20px;
	}

	.our__value_development:before {
		background-size: 20px;
	}

	.production {
		padding: 40px 0;
	}

	.production__left {
		width: 60%;
	}

	.production__right {
		width: 39%;
	}

	.production__right img {
		width: 80%;
	}

	.production__bottom {
		margin-top: 40px;
	}

	.counts__block {
		padding: 40px 0;
		margin-bottom: 40px;
	}

	.counts-slider__arrow_block {
		width: 45px;
	}

	.counts__block .slick-prev,
	.counts__block .slick-next {
		top: -12px;
	}

	.counts__block .slick-arrow::before {
		width: 30px;
		height: 30px;
	}

	.counts__slider {
		margin-top: 30px;
	}

	.counts__block .slide {
		height: 150px;
	}

	.slide__content {
		width: 80%;
	}

	.slide__content:after {
		top: 10px;
		right: -20px;
		width: 30px;
		height: 24px;
	}

	.slide__content_num {
		font-size: 30px;
		line-height: 35px;
	}

	.slide__content_text {
		margin-top: 10px;
		font-size: 12px;
		line-height: 18px;
	}

	.partners__item {
		width: 30%;
		height: 70px;
		margin: 20px 22px 20px 0;
	}

	.partners__item:nth-child(3n) {
		margin: 20px 0px 20px 0;
	}

	.partners__item img {
		width: 75%;
	}

	/*products page*/
	.products__img_header {
		width: 200px;
		margin-top: 25px;
		margin-bottom: -30px;
	}

	.main__header_item-left {
		width: 55%;
	}

	.main__header_item-right {
		width: 42%;
	}

	.header__text {
		font-size: 18px;
		margin-bottom: 15px;
	}

	.main__header_types {
		margin-bottom: 25px;
	}

	.main__header_type {
		margin-left: 25px;
		font-size: 14px;
		margin-right: 25px;
	}

	.main__header_type:before {
		top: 0px;
		left: -25px;
		width: 20px;
		height: 20px;
	}

	.type_pills:before {
		background-size: 19px;
	}

	.type_suppositories:before {
		background-size: 19px;
		height: 22px;
	}

	.main__header_pic img {
		width: 85%;
	}

	.main__header_links {
		margin-bottom: 50px;
	}

	.green__btn-link {
		padding: 10px 20px 10px 30px;
	}

	.green__btn-link:after {
		width: 20px;
		height: 20px;
		background-size: 20px;
		top: 12px;
		left: 8px;
	}

	.products__content_left {
		width: 70%;
	}

	.products__content_right {
		width: 200px;
	}

	.other__products_slider .slick-slide {
		padding: 20px;
		margin-right: 20px;
	}

	.other__products_slider .slide {
		height: 450px;
	}

	.products__slide_pic {
		height: 250px;
		object-fit: cover;
	}

	.products__slide_pic img {
		object-fit: cover;
	}

	.products__text {
		margin-top: 0;
	}

	.wherebuy__item {
		width: 19%;
		margin-right: 40px;
	}

	.products__contacts {
		margin-top: 50px;
		padding: 25px 20px;
	}

	.products__contacts_icon {
		width: 90px;
		height: 90px;
		background-size: contain;
		margin-bottom: 20px;
	}

	.products__contacts_header {
		font-size: 12px;
	}

	.products__contacts_text {
		font-size: 11px;
		margin-bottom: 15px;
	}

	.green__btn {
		font-size: 14px;
		padding: 10px 20px;
	}

	/*end products page*/

	/*spec page*/
	.main__header_items {
		min-height: 260px;
	}

	.page__decr {
		margin-top: -30px;
		margin-bottom: 30px;
	}

	.spec__filter__items {
		margin-bottom: 25px;
	}

	.spec__filter__item {
		padding: 10px 17px;
	}

	.spec__items {
		height: 1600px;
	}

	.spec__item {
		width: 49%;
		padding: 20px;
		min-height: 280px;
		margin-bottom: 20px;
	}

	.spec__item_name {
		margin-bottom: 15px;
	}

	.spec__item_title {
		font-size: 16px;
		margin-bottom: 15px;
		max-height: 150px;
	}

	.spec__item_title span:hover {
		max-height: 150px;
	}

	.spec__item_authors {
		margin-bottom: 15px;
	}

	.spec__item_read {
		padding: 7px 15px;
	}

	.spec__item_read:hover {
		font-size: 16px;
		padding: 5px 15px;
	}

	.pagination_item {
	    margin-right: 25px;
	}

	/*end spec page*/

	.questions__content {
		margin-bottom: 50px;
		flex-wrap: wrap;
	}

	.questions__content_left {
		width: 100%;
	}

	.questions__item_content {
		margin-top: 25px;
	}

	.questions__content_right {
		margin-top: 40px;
		text-align: center;
		width: 100%;
		display: inline-block;
	}

	.form__block {
		width: 60%;
		display: inline-block;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.main__header_bg {
		display: none;
	}
}

@media screen and (max-width:780px) {
	h1 {
		font-size: 17px;
		line-height: 18px;
		margin-bottom: 25px;
	}

	h2 {
		font-size: 16px;
		line-height: 20px;
	}

	h3 {
		font-size: 14px;
		line-height: 18px;
	}

	h4 {
		font-size: 14px;
		line-height: 15px;
		margin-bottom: 19px;
	}

	h5, h6 {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 15px;
	}

	th,
	td {
		padding: 7px;
	}

	body {
		font-size: 12px;
	}

	.wrapper{
		width: 320px;
	}

	.header {
		padding: 21px 0;
		font-size: 12px;
	}

	.header__left {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo {
		width: 60%;
		display: inline-block;
	}

	.header__right {
		display: none;
	}

	.footer .social__item,
	.footer .social__item:hover {
		width: 20px;
		height: 20px;
		background-size: 20px;
	}

	.mobile-hamburger {
		display: block;
		width: 28px;
		height: 28px;
		background: url('../img/humburger_menu.svg') center center no-repeat;
		background-size: 28px;
		cursor: pointer;
	}

	.mobile-hamburger:hover {
		background: url('../img/humburger_menu_hover.svg') center center no-repeat;
		background-size: 28px;
	}

	.page__main {
		margin-bottom: 50px;
	}

	.slide {
		height: 250px;
	}

	.slick-prev,
	.slick-next
	{
	    width: 30px;
	    height: 30px;
	}

	.slick-arrow::before {
		width: 6px;
		height: 12px;
		background-size: 6px;
	}

	.info__block {
		width: 100%;
	}

	.info__block_text {
		line-height: 50px;
	}

	.info__block_text span {
		padding: 5px 7px;
		font-size: 22px;
	}

	.content__header {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.content__header_upp {
		margin-top: 20px;
		font-size: 16px;
		margin-bottom: 20px;
	}

	.news__items {
		flex-wrap: wrap;
	}

	.news__item {
		width: 100%;
		padding: 15px;
		margin-bottom: 20px;
	}

	.news__item_date {
		font-size: 12px;
	}

	.news__item_text {
		font-size: 14px;
	}

	.more {
		font-size: 12px;
	}

	.more:after {
		width: 13px;
		height: 13px;
		top: 2px;
		right: -20px;
		background-size: 3px;
	}

	.more:hover {
		font-size: 14px;
	}

	.more:hover:after {
		width: 15px;
		height: 15px;
	}

	.health__items {
		flex-wrap: wrap;
	}

	.health__item {
		width: 100%;
		margin-bottom: 25px;
	}

	.health__item_pic {
		height: 228px;
	}

	.health__item_header {
		margin-top: 18px;
		margin-bottom: 10px;
		font-size: 14px;
	}

	.health__item_text {
		font-size: 12px;
	}

	.page__footer {
		padding: 20px 0;
		font-size: 12px;
	}

	.footer__top {
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 20px;
	}

	.scrollup {
		top: -26px;
		width: 80px;
		height: 64px;
		background-size: 64px;
	}

	.footer__contacts {
		width: 100%;
	}

	.footer__logo {
		width: 50%;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.footer__contacts_link {
		margin-left: 27px;
	}

	.footer__menu_products,
	.footer__menu_all {
		display: none;
	}

	.footer__bottom {
		padding-top: 20px;
	}

	.footer__bottom_header {
		flex-wrap: wrap;
	}

	.footer__bottom-menu_items {
		margin-bottom: 20px;
	}

	.footer__bottom-menu_item {
		margin: 6px 0;
	}

	.footer__bottom_info {
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.footer__bottom_copy {
		margin-bottom: 10px;
		width: 100%;
	}

	.footer__bottom_dev {
		width: 100%;
	}

	.footer__bottom_dev img {
		width: 10px;
		height: 10px;
	}

	/*Inner page*/
	.main__header {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.main__header_dark-bg {
		background: url('../img/bg02.png') center center no-repeat;
		min-height: 230px;
	}

	.bread-crumbs__item {
		font-size: 12px;
	}

	.page__title {
		margin-top: 15px;
		margin-bottom: 40px;
	}

	.main__menu_items {
		flex-wrap: wrap;
		font-size: 12px;
		padding-bottom: 0px;
	}

	.main__menu_item {
		margin-right: 0;
		margin-bottom: 7px;
		width: 100%;
	}

	.main__menu_item a {
		padding-bottom: 2px;
	}

	.main__menu_item a.active {
		border-bottom: 2px solid #8cc63f;
	}

	.pdf__block_content {
		font-size: 11px;
	}

	.our__values {
		margin-bottom: 25px;
	}

	.our__values_items {
		margin-top: 0;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.our__values_item {
		width: 100%;
		text-align: center;
		padding: 15px 15px;
		font-size: 12px;
		margin-top: 15px;
		margin-right: 0;
	}

	.our__values_item:first-child {
		margin-top: 0;
	}

	.production {
		padding: 25px 0;
	}

	.production__top {
		flex-wrap: wrap;
		justify-content: center;
	}

	.production__left {
		width: 100%;
		margin-bottom: 25px;
	}

	.production__right {
		width: 90%;
		padding: 15px 0;
	}

	.production__right img {
		width: 70%;
	}

	.production__bottom {
		margin-top: 25px;
	}

	.production__bottom_items {
		flex-wrap: wrap;
		justify-content: center;
	}

	.production__bottom_item {
		width: 48%;
		margin-top: 10px;
		margin-right: 10px;
	}

	.production__bottom_item:nth-child(2n) {
		margin-right: 0;
	}

	.about__images_items {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.counts__block {
		padding: 25px 0;
		margin-bottom: 25px;
	}

	.counts__block_top {
		flex-wrap: wrap;
	}

	.counts-slider__arrow_block {
		width: 45px;
	}

	.counts__block .slick-prev,
	.counts__block .slick-next
	{
		top: -8px;
	}

	.slick-prev {
		left: 0;
	}

	.slick-next {
		right: 0;
	}

	.counts__block .slick-arrow::before {
		width: 25px;
		height: 25px;
	}

	.counts__slider {
		margin-top: 55px;
	}

	.counts__block .slide {
		height: 90px;
	}

	.slide__content {
		width: 90%;
		text-align: center;
	}

	.slide__content:after {
		top: 10px;
		right: -30px;
	}

	.slide__content_num {
		font-size: 30px;
		line-height: 35px;
	}

	.slide__content_text {
		margin-top: 10px;
		font-size: 12px;
		line-height: 18px;
	}

	.partners__item {
		width: 47%;
		height: 30px;
		margin: 20px 10px 20px 0;
	}

	.partners__item:nth-child(2n) {
		margin: 20px 0 20px 0;
	}

	.partners__item img {
		width: 80%;
	}

	/*products page*/
	.products__img_header {
		width: 180px;
		margin-top: 15px;
		margin-bottom: -20px;
	}

	.main__header_items {
		flex-wrap: wrap;
	}

	.main__header_item {
		width: 100%;
	}

	.header__text {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.main__header_types {
		margin-bottom: 25px;
	}

	.main__header_type {
		margin-left: 25px;
		font-size: 12px;
		margin-right: 20px;
	}

	.main__header_type:before {
		top: 1px;
		left: -20px;
		width: 15px;
		height: 15px;
		background-size: 14px;
	}

	.type_suppositories:before {
		height: 17px;
	}

	.main__header_pic {
		margin-bottom: 20px;
	}

	.main__header_pic img {
		width: 60%;
	}

	.main__header_links {
		margin-bottom: 10px;
	}

	.green__btn-links {
		flex-wrap: wrap;
	}

	.green__btn-link {
		margin-bottom: 15px;
	}

	.green__btn-link:after {
		top: 9px;
		left: 7px;
	}

	.products__content_left {
		width: 100%;
	}

	.products__content_right {
		width: 100%;
	}

	.counts-slider__arrow_block .slick-prev,
	.counts-slider__arrow_block .slick-next {
		top: -8px;
	}

	.counts-slider__arrow_block .slick-prev {
		left: -30px;
	}

	.counts-slider__arrow_block .slick-next {
		right: 30px;
	}

	.counts-slider-arrows-dark .slick-prev {
		left: -25px;
	}

	.counts-slider-arrows-dark .slick-next {
		right: 0;
	}

	.counts-slider__arrow_block .slick-arrow::before {
		width: 25px;
		height: 25px;
	}

	.other__products_slider .slick-slide {
		padding: 15px;
		margin-right: 0px;
	}

	.other__products_slider .slide {
		height: 320px;
	}

	.products__slide_pic {
		height: 150px;
	}

	.products__slide_pic img {
		width: 100%;
		height: 100%;
	}

	.products__text {
		font-size: 12px;
	}

	.wherebuy__items {
		margin-top: -10px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.wherebuy__item {
		margin-right: 20px;
		width: 45%;
		margin-bottom: 25px;
	}

	.wherebuy__item:nth-child(2n) {
		margin-right: 0;
	}

	.products__contacts {
		margin-top: 20px;
		padding: 20px 30px;
	}

	.products__contacts_icon {
		width: 70px;
		height: 70px;
		margin-bottom: 15px;
	}

	.green__btn {
		font-size: 14px;
		padding: 12px 30px;
	}

	/*end products page*/

	/*spec page*/
	.page__decr {
		margin-top: -25px;
		margin-bottom: 30px;
	}

	.main__header_items {
		min-height: 180px;
	}

	.spec__filter__item {
		padding: 9px 14px;
	}

	.spec__items {
		height: auto;
	}

	.spec__item {
		width: 100%;
		padding: 15px;
		min-height: 150px;
		margin-bottom: 20px;
	}

	.spec__item_name {
		font-weight: 500;
	}

	.spec__item_title {
		font-size: 14px;
		max-height: 200px;
	}

	.spec__item_title span:hover {
		max-height: 200px;
	}

	.pagination {
		margin-top: 25px;
	}

	.pagination_item {
	    margin-right: 20px;
	}

	/*end spec page*/

	.questions__content {
		margin-bottom: 30px;
	}

	.questions__item {
		padding: 15px 0 15px 20px;
	}

	.questions__item:before {
		width: 15px;
		height: 15px;
		top: 15px;
	}

	.questions__item_text {
		font-weight: 500;
		margin-right: 8px;
	}

	.open_btn {
		top: 15px;
		width: 25px;
		height: 25px;
	}

	.open_btn:hover {
		background-size: contain;
	}

	.open_btn.active {
		background-size: contain;
	}

	.open_btn.active:hover {
		background-size: contain;
	}

	.questions__item_title {
		font-weight: 500;
		font-size: 14px;
	}

	.questions__item_content {
		margin-top: 20px;
		padding: 15px;
	}

	.questions__content_right {
		margin-top: 30px;
	}

	.form__block {
		width: 90%;
		margin-top: 10px;
	}

	.form__item {
		padding: 12px;
		font-size: 12px;
	}

	.form__block .green__btn {
		float: none;
		width: 90%;
		margin-bottom: 25px;
		margin-top: 10px;
	}
}