* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

table,
tr,
th,
td {
	border-collapse: collapse;
}

img{
	width: 100%;
	height: auto;
}

html {
	background: #fff;
	height: 100%;
}

.act {
	color: #0067aa!important;
}

body {
	font-family: 'Inter';
	font-size: 16px;
	background: #fff;
	color: #373737;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	height: auto;
	font-style: normal;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #ffffff;
}

.wrapper {
	width: 1121px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 21px 0 0 0;
	font-size: 14px;
	position: relative;
}

.header a:hover,
.footer a:hover {
	color: #0067aa;
}

.header__left {
	width: 255px;
}

.header__logo {
	width: 100%;
}

.header__logo img {
	width: 100%;
}

.header__right {
	width: 814px;
}

.header__top {
	width: 100%;
	display: flex;
	padding-top: 1px;
}

.header__lang {
	display: inline-block;
}

.header__lang span {
	position: relative;
	margin: 0;
	padding: 0;
}

.header__lang span:before {
	content: '';
	position: absolute;
	top: 5px;
	right: 1px;
	width: 1px;
	height: 10px;
	border-right: 1px solid #373737;
}

.header__lang a {
	text-decoration: none;
	color: #373737;
	margin: 0 5px;
}

.header__lang a:last-child {
	border-right: none;
	padding: 0;
}

.header__phone {
	display: inline-block;
	text-align: right;
	width: 515px;
	margin-right: 57px;
}

.header__phone_text {
	color: #979797;
	font-size: 12px
}

.header__phone_number {
	text-decoration: none;
	color: #373737;
}

.header__social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__item {
	width: 23px;
	height: 23px;
	display: inline-block;
	text-decoration: none;
	overflow: hidden;
	margin-right: 10px;
	background-size: 23px;
}

.footer .social__item,
.footer .social__item:hover {
	width: 33px;
	height: 33px;
	margin-right: 7px;
	background-size: 33px;
}

.social__item:last-child,
.footer .social__item:last-child {
	margin-right: 0;
}

.social__item_telegtam {
	background: url('../img/tg.svg') center center no-repeat;
}

.social__item_vk {
	background: url('../img/vk.svg') center center no-repeat;
}

.social__item_tiktok {
	background: url('../img/tt.svg') center center no-repeat;
}

.social__item_ok {
	background: url('../img/odn.svg') center center no-repeat;
}

.social__item_youtube {
	background: url('../img/yt.svg') center center no-repeat;
}

.social__item_dzen {
	background: url('../img/dzen.svg') center center no-repeat;
}

.social__item_telegtam:hover {
	background: url('../img/tg_hover.svg') center center no-repeat;
}

.social__item_vk:hover {
	background: url('../img/vk_hover.svg') center center no-repeat;
}

.social__item_tiktok:hover {
	background: url('../img/tt_hover.svg') center center no-repeat;
}

.social__item_ok:hover {
	background: url('../img/odn_hover.svg') center center no-repeat;
}

.social__item_youtube:hover {
	background: url('../img/yt_hover.svg') center center no-repeat;
}

.social__item_dzen:hover {
	background: url('../img/dzen_hover.svg') center center no-repeat;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 566px;
	margin-left: 0;
}

.header__menu_item {
	list-style: none;
	padding-top: 3px;
	padding-bottom: 24px;
}

.header__menu_item a {
	text-decoration: none;
	color: #373737;
}

.arrow_down {
	position: relative;
	display: inline-block;
}

.arrow_down:after {
	content: '';
	position: absolute;
	width: 8px;
	height: 4px;
	top: -7px;
	right: -14px;
	background: url('../img/arrow_down.svg') center center no-repeat;
	background-size: 8px;
}

.search {
	display: inline-block;
	position: relative;
	width: 184px;
	margin-top: -4px;
}

.search input {
	border: 1px solid #D3D3D3;
	color: #979797;
	overflow: hidden;
	font-size: 12px;
	line-height: 15px;
	width: 100%;
	padding: 8px 8px 8px 37px;
}

.search button {
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url('../img/search.png') center center no-repeat;
	background-size: 20px;
	border: none;
	position: absolute;
	cursor: pointer;
	left: 9px;
	top: 7px;
}

.search input::-webkit-input-placeholder {color:#979797;}
.search input::-moz-placeholder          {color:#979797;}
.search input:-moz-placeholder           {color:#979797;}
.search input:-ms-input-placeholder      {color:#979797;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.header__drop {
	display: none;
	justify-content: space-between;
	align-items: stretch;
	position: absolute;
	top: 117px;
	left: 0;
	width: 100%;
	min-height: 275px;
	padding: 25px 40px;
	background: #e7ebf2;
	z-index: 1;
	opacity: 0.99;
}

.header__menu_item:hover .header__drop {
	display: flex;
}

.header__menu_item:hover .arrow_down:after {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.header__drop_item {
	width: 32%;
}

.header__drop_media {
	position: relative;
}

.header__drop_pic {
	width: 215px;
	object-fit: cover;
	margin-bottom: 20px;
}

.header__drop_pic img {
	width: 100%;
}

.header__drop_info {
	margin-left: 20px;
	position: relative;
}

.header__drop_info:hover {
	color: #0067aa;
}

.header__drop_info:before {
	content: '';
	position: absolute;
	top: 3px;
	left: -20px;
	width: 12px;
	height: 12px;
	background: url('../img/download.svg') center center no-repeat;
	background-size: 12px;
}

.header__drop_info:hover:before {
	color: #0067aa;
	background: url('../img/download_hover.svg') center center no-repeat;
	background-size: 12px;
}

.header__drop_header {
	text-transform: uppercase;
	color: #979797;
	font-size: 14px;
	font-weight: 500;
	margin-top: 30px;
}

.header__drop_item .header__drop_header:first-child {
	margin-top: 0;
}

.header__drop_menu-item:first-child {
	padding: 16px 0 22px 0;
}

.header__drop_menu-item {
	padding: 0 0 22px 0;
}

.header__drop_list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header__drop_menu {
	list-style: none;
	margin-left: 0;
}

.header__drop_list-item {
	width: 100%;
	padding-left: 25px;
	padding-bottom: 37px;
	position: relative;
}

.header__drop_list-item:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0px;
	width: 14px;
	height: 14px;
}

.header__safety:before {
	background: url('../img/safety.svg') center center no-repeat;
	background-size: 11px;
}

.header__aid:before {
	background: url('../img/first_aid.svg') center center no-repeat;
	background-size: 15px;
}

.header__note:before {
	background: url('../img/note.svg') center center no-repeat;
	background-size: 13px;
}

.header__safety:hover:before {
	background: url('../img/safety_hover.svg') center center no-repeat;
	background-size: 11px;
}

.header__aid:hover:before {
	background: url('../img/first_aid_hover.svg') center center no-repeat;
	background-size: 15px;
}

.header__note:hover:before {
	background: url('../img/note_hover.svg') center center no-repeat;
	background-size: 13px;
}

.header__drop_small {
	font-size: 12px;
}

/*mobmenu*/
.mobile-hamburger {
	display: none;
}

.sidebar-block__top {
	overflow: hidden;
}

.user-sidebar__logo {
	width: 50%;
	display: inline-block;
}

.sidebar-block__close {
	float: right;
	margin-right: 40px;
	margin-top: 0;
	font-size: 15px;
	position: relative;
	cursor: pointer;
}

.sidebar-block__close:hover {
	color: #0067aa;
}

.sidebar-block__close:before {
	content: '';
	position: absolute;
	top: 0px;
	right: -28px;
	background: url('../img/close_dark.svg');
	width: 17px;
	height: 17px;
	background-size: contain;
}

.sidebar-block__close:hover:before {
	background: url('../img/close_dark_hover.svg');
	width: 17px;
	height: 17px;
	background-size: contain;
}

.sidebar {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	overflow: auto;
	width: 100%;
	height: 100%;
	transition: transform 500ms ease-in-out 0ms;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	background-color: #fff;
	color: #373737;
	padding: 25px;
}

.sidebar_opened {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	width: 85%;
}

.sidebar-overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
}

.ms-menu {
	margin-top: 30px;
	font-size: 15px;
}

.ms-menu ul {
	list-style: none;
	margin-left: 0;
}

.ms-menu_item {
	margin: 10px 0;
}

.ms-menu_item a {
	color: #373737;
}

.set,
.inner__set {
	text-align: left;
}

.set__content,
.inner__set_content {
	display: none;
}

.set__btn,
.inner__set_btn {
	display: inline-block;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}

.set__btn::before,
.inner__set_btn::before {
	content: '';
	width: 13px;
	height: 8px;
	position: absolute;
	background: url('../img/arrow_down.svg') center no-repeat;
	background-size: contain;
	top: 8px;
	right: -25px;
	display: block;
}

.set__btn.active::before,
.inner__set_btn.active::before  {
	background: url('../img/arrow_down.svg') center no-repeat;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	display: block;
}

.content__menu_list {
	margin-left: 20px;
}

.ms-menu_childs {
	font-size: 13px;
	margin: 5px 0;
}

.ms-menu_childs a:hover {
	color: #0067aa;
}

.sidebar .header__drop_small {
	margin-top: -3px;
	display: block;
}

.sidebar__contacts {
	margin-top: 25px;
	width: 100%;
}

.sidebar__contacts .search {
	width: 100%;
	margin: 25px 0;
}

.sidebar__contacts .header__lang {
	width: 100%;
	display: inline-block;
	margin: 10px 0;
	text-align: left;
}

.sidebar__contacts .header__phone {
	width: 100%;
	display: inline-block;
	margin: 10px 0;
	text-align: left;
}

.sidebar__contacts .header__social {
	width: 100%;
	margin: 10px 0;
	text-align: left;
	justify-content: center;
}

/*end mobmenu*/

.page__main {
	margin-bottom: 120px;
}

.slide {
	width: 100%;
	height: 655px;
	position: relative;
	display: flex!important;
	align-items: center;

}

.slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slick-prev,
.slick-next
{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255,255,255,0.3);
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
	background: rgba(255,255,255,0.6);
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
	opacity: 1;
}

.slick-arrow::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0px;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 14px;
	background: url('../img/slider_arrow.svg') center no-repeat;
	background-size: 8px;
}

.slick-prev::before {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.slider__block .slick-prev
{
	left: 3%;
}

.slider__block .slick-next
{
	right: 3%;
}

.info__block {
	display: inline-block;
	position: relative;
}

.info__block {
	display: inline-block;
	position: relative;
	width: 650px;
}

.info__block_text {
	line-height: 85px;
}

.info__block_text span {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background: #1DA4AB;
	padding: 10px 10px;
	letter-spacing: 3px;
	font-size: 50px;
	  box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	font-weight: 800;
}

.content__header {
	margin-top: 70px;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 30px;
}

.content__header_upp {
	font-size: 40px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.content__title_white {
	color: #fff;
}

.news__items {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.news__item {
	width: 32%;
	background: #F0F2F5;
	padding: 30px;
	position: relative;
}

.news__item_date {
	font-size: 14px;
	color: #979797;
	display: block;
	text-transform: uppercase;
}

.news__item_content {
	margin-top: 10px;
}

.news__item_text {
	font-size: 16px;
	display: inline;
}

.news__item:hover .news__item_text {
	border-bottom: 1px solid rgba(55, 55, 55, 0.3);
}

.mask {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.health__head {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.more {
	font-size: 16px;
	font-weight: 500;
	color: #0067AA;
	text-decoration: none;
	margin-right: 25px;
	position: relative;
}

.more:after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	top: 4px;
	right: -28px;
	border-radius: 50%;
	background: #0067AA url('../img/slider_arrow.svg') center center no-repeat;
	background-size: 4px;
	display: inline-block;
}

.more:hover {
	font-size: 18px;
}

.more:hover:after {
	width: 19px;
	height: 19px;
}

.health__items {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.health__item {
	width: 32%;
	position: relative;
}

.health__item_pic {
	height: 250px;
	overflow: hidden;
}

.health__item_pic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.health__item:hover .health__item_pic img {
	transform: scale(1.1);
}

.health__item:hover .health__item_header span {
	display: inline;
	border-bottom: 1px solid rgba(0, 103, 170, 0.3);;
}

.health__item_header {
	margin-top: 25px;
	margin-bottom: 10px;
	color: #0067AA;
	font-size: 20px;
	font-weight: 500;
}

.health__item_text {
	font-size: 14px;
	font-weight: 400;
	color: #979797;
}

.page__footer {
	background: #21325B;
	color: #fff;
	padding: 80px 0 50px 0;
	font-size: 14px;
}

.page__footer a {
	color: #fff;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	padding-bottom: 40px;
}

.scrollup {
	position: absolute;
	top: -80px;
	right: 0;
	background: url('../img/up.svg') center center no-repeat;
	width: 92px;
	height: 74px;
}

.scrollup:hover {
	background: url('../img/up_hover.svg') center center no-repeat;
}

.footer__contacts {
	width: 31%;
}

.footer__logo {
	width: 45%;
	margin-top: -60px;
	margin-bottom: 40px;
}

.footer__logo img {
	width: 100%;
	height: 100%;
}

.footer__contacts_item {
	margin-bottom: 10px;
	max-width: 60%;
}

.footer__contacts_link {
	display: inline-block;
	margin-left: 23px;
	position: relative;
}

.footer__contacts_link:before {
	content: '';
	position: absolute;
	left: -25px;
	top: 1px;
	width: 15px;
	height: 15px;
}

.footer__contacts_link-phone:before {
	background: url('../img/call_phone.svg') center center no-repeat;
	background-size: 15px;
}

.footer__contacts_link-email:before {
	background: url('../img/mail.svg') center center no-repeat;
	background-size: 15px;
}

.footer__contacts_link-address:before {
	background: url('../img/map_marker.svg') center center no-repeat;
	background-size: 11px;
}

.footer__contacts_link-phone:hover:before {
	background: url('../img/call_phone_hover.svg') center center no-repeat;
	background-size: 15px;
}

.footer__contacts_link-email:hover:before {
	background: url('../img/mail_hover.svg') center center no-repeat;
	background-size: 15px;
}

.footer__contacts_link-address:hover:before {
	background: url('../img/map_marker_hover.svg') center center no-repeat;
	background-size: 11px;
}

.footer__menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: #fff;
}

.footer__menu_header {
	color: #fff;
	font-weight: 500;
	margin-bottom: 19px;
}

.footer__menu_items {
	list-style: none;
	margin-left: 0;
}

.footer__menu_item {
	margin-bottom: 10px;
	font-weight: 500;
}

.footer__menu_products,
.footer__menu_all {
	width: 32%;
}

.footer__menu_item span {
	color: #373737;
	background-color: #F5CA99;
	border-radius: 10px;
	padding: 4px 7px;
	font-size: 11px;
	margin-left: 5px;
	font-weight: 500;
}

.footer__bottom {
	border-top: 1px solid #38476c;
	padding-top: 45px;
}

.footer__bottom_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__bottom-menu_items {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-left: 0;
}

.footer__bottom-menu_item {
	margin: 0 16px;
	position: relative;
}

.footer__bottom-menu_item:first-child {
	margin-left: 0;
}

.footer__bottom-menu_item:after {
	content: '/';
	position: absolute;
	top: 0;
	right: -17px;
}

.footer__bottom-menu_item:last-child:after {
	content: ' ';
}

.footer__bottom_info {
	font-size: 12px;
	color: #7E87A0;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	margin-top: 57px;
}

.footer__bottom_dev a {
	color: #7E87A0;
}

.footer__bottom_dev img {
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

/*Inner page*/
.main__header {
	width: 100%;
	padding-top: 40px;
}

.main__header_dark-bg {
	color: #fff;
	background: url('../img/bg01.png') center center no-repeat;
	min-height: 275px;
	position: relative;
}

.main__header_light-bg {
	color: #373737;
	background: url('../img/bg01_light.png') center center no-repeat;
}

.without-bg .bread-crumbs__link,
.without-bg {
	color: #979797;
}

.bread-crumbs {
	padding: 0;
	margin-left: 0;
	list-style: none;
}

.bread-crumbs__item {
	font-size: 14px;
	display: inline-block;
	margin-right: 0;
}

.bread-crumbs__link {
	color: #ffffff;
	display: inline-block;
}

.main__header_light-bg .bread-crumbs__link {
	color: #373737;
}

.bread-crumbs__link:hover {
	color: #8cc63f;
}

.bread-crumbs__separator {
	display: inline-block;
	margin: 0 3px 0 4px;
}

.page__title {
	margin-top: 19px;
	margin-bottom: 88px;
}

.main__header_dark-bg .page__title {
	color: #fff;
}

.main__menu_items {
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 31px;
	position: absolute;
	bottom: 0;
	margin-left: 0;
}

.main__menu_item {
	margin-right: 40px;
	letter-spacing: 0.5px;
	list-style:  none;
	margin-left: 0;
}

.main__menu_item a {
	padding-bottom: 29px;
}

.main__header_dark-bg .main__menu_item a {
	color: #fff;
}

.main__menu_item a:hover {
	color: #8CC63F;
}

.main__menu_item a.active {
	color: #8CC63F;
	border-bottom: 4px solid #8cc63f;
}

.pdf__block {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
	position: relative;
}

.pdf__block_icon {
	width: 34px;
	height: 43px;
	background: url('../img/pdf_icon.svg') center center no-repeat;
	background-size: contain;
	margin-right: 15px;
}

.pdf__block_content {
	font-size: 14px;
}

.pdf_name {
	display: block;
	width: 100%;
	color: #0067aa;
}

.pdf_format {
	display: block;
	width: 100%;
	color: #979797;
}

.our__values {
	margin-bottom: 80px;
}

.our__values_items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.our__values_item {
	background: #F0F2F5;
	padding: 24px 24px 24px 86px;
	font-size: 14px;
}

.our__value_icon {
	position: relative;
	text-transform: uppercase;
}

.our__value_icon:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	top: -12px;
	left: -57px;
}

.our__value_love:before {
	background: url('../img/love.svg') center center no-repeat;
	background-size: 38px;
}

.our__value_responsibility:before {
	background: url('../img/responsibility.svg') center center no-repeat;
	background-size: 40px;
}

.our__value_freedom:before {
	background: url('../img/freedom.svg') center center no-repeat;
	background-size: 40px;
}

.our__value_engagement:before {
	background: url('../img/engagement.svg') center center no-repeat;
	background-size: 40px;
}

.our__value_development:before {
	background: url('../img/development.svg') center center no-repeat;
	background-size: 40px;
}

.production {
	background: #f0f2f5;
	padding: 70px 0;
}

.production__top {
	display: flex;
	justify-content: space-between;
}

.production__left {
	width: 48%;
}

.production__right {
	width: 48%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.production__right img {
	width: 459px;
}

.production__bottom {
	width: 100%;
	margin-top: 70px;
}

.production__bottom_items {
	display: flex;
	justify-content: space-between;
}

.about__images_items {
	display: flex;
	justify-content: center;
}

.counts__block {
	padding: 70px 0;
	background: #21325B;
	margin-bottom: 70px;
}

.counts__block_top {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.counts__title {
	text-transform: uppercase;
	color: #fff;
	font-size: 40px;
}

.counts-slider__block {
	position: relative;
}

.counts-slider__arrow_block {
	width: 55px;
	position: relative;
}

.counts__block .slick-prev,
.counts__block .slick-next
{
	position: absolute;
	top: -14px;
	transform: translateY(0);
	background: transparent;
	width: 0;
	height: 0;
}

.slick-prev {
	left: -35px;
}

.slick-next {
	right: 38px;
}

.counts__block .slick-arrow::before {
	width: 40px;
	height: 40px;
	background: url('../img/counts__slider_arrow.svg') center center no-repeat;
	background-size: contain;
}

.counts-slider-arrows-dark .slick-arrow::before {
	width: 40px;
	height: 40px;
	background: url('../img/grey__slider_arrow.svg') center center no-repeat;
	background-size: contain;
}

.counts-slider-arrows-dark .slick-prev {
	left: -75px;
}

.counts-slider-arrows-dark .slick-next {
	right: 26px;
}

.counts__slider {
	color: #fff;
	margin-top: 85px;
}

.counts__block .slick-slide:nth-child(5n) {
	margin-right: 0px;
}

.counts__block .slide {
	height: 170px;
	display: block!important;
}

.slide__content {
	width: 210px;
	position: relative;
}

.slide__content:after {
	content: '';
	position: absolute;
	top: 10px;
	right: -40px;
	width: 50px;
	height: 40px;
	background: url('../img/about_slide_after.svg') center center no-repeat;
	background-size: contain;
}

.slide__content_num {
	font-size: 50px;
	line-height: 61px;
	color: #8CC63F;
	font-weight: 200;
	letter-spacing: -3px;
}

.slide__content_text {
	text-transform: uppercase;
	color: #fff;
	margin-top: 16px;
	font-size: 14px;
	line-height: 21px;
}

.partners__items {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.partners__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22%;
	height: 100px;
	margin: 30px 42px 30px 0;
}

.partners__item:nth-child(4n) {
	margin: 30px 0px 30px 0;
}

.partners__item img {
	width: 100%;
}

.partners__item:hover img {
	transform: scale(1.1);
}

/*products page*/
.products__img_header {
	width: 300px;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: -50px;
}

.main__header_items {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.main__header_item {
	width: 48%;
}

.header__text {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;
}

.main__header_types {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 55px;
}

.main__header_type {
	margin-left: 35px;
	position: relative;
	font-size: 16px;
	font-weight: 400;
	margin-right: 40px;
}

.main__header_type:last-child {
	margin-right: 0;
}

.main__header_type:before {
	content: '';
	top: -2px;
	left: -35px;
	position: absolute;
	width: 26px;
	height: 26px;
	background-size: 24px;
}

.type_pills:before {
	background: url('../img/pills.svg') center center no-repeat;
}

.type_suppositories:before {
	background: url('../img/suppositories.svg') center center no-repeat;
	height: 27px;
}

.main__header_pic {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__header_bg {
	margin-top: -64px;
}

.main__header_pic img {
	width: auto;
	height: 100%;
}

.main__header_links {
	margin-bottom: 74px;
}

.green__btn-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.green__btn-link {
	background: #8CC63F;
	color: #fff;
	padding: 15px 30px 15px 50px;
	border-radius: 50px;
	position: relative;
	cursor: pointer;
}

.green__btn-link:hover {
	color: #fff;
	background: #70AA24;
}

.green__btn-link:after {
	content: '';
	position: absolute;
	width: 31px;
	height: 31px;
	background-size: 31px;
	top: 11px;
	left: 13px;
}

.cursor-icon:after {
	background: url('../img/curcor.svg') center center no-repeat;
}

.list-icon:after {
	background: url('../img/list.svg') center center no-repeat;
}

.other__products_slider .slick-slide {
	border: 1px solid #EEEEEE;
	padding: 42px;
	margin-right: 30px;
}

.other__products_slider .slide {
	width: 100%;
	height: 500px;
	flex-wrap: wrap;
	justify-content: center;
}

.products__slide_pic {
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.products__slide_pic img {
	width: 100%;
	height: auto;
	position: relative;
}

.products__content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.products__content_left {
	width: 73%;
}

.products__content_right {
	width: 257px;
}

.products__text {
	color: #979797;
	font-size: 14px;
}

.other__products_slider .slide:hover .products__header span {
	display: inline;
	margin-top: 30px;
	color:  #0067aa;
	border-bottom: 1px solid #0067aa;
}

.other__products_slider .slick-slide:hover  {
	border: 1px solid #8CC63F;
}

.wherebuy__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -30px;
}

.wherebuy__item {
	margin-right: 70px;
	position: relative;
	display: flex;
	justify-content: center;
}

.wherebuy__item:last-child {
	margin-right: 0;
}

.wherebuy__item:hover img {
	transform: scale(1.1);
}

.products__contacts {
	margin-top: 70px;
	padding: 40px 30px;
	border: 1px solid #8CC63F;
	text-align: center;
}

.products__contacts_icon {
	width: 110px;
	height: 110px;
	background: url('../img/contact.svg') center center no-repeat;
	margin-bottom: 34px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.products__contacts_header {
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 10px;
}

.products__contacts_text {
	font-size: 12px;
	color: #979797;
	margin-bottom: 20px;
}

.green__btn {
	font-size: 16px;
	color: #FFFFFF;
	padding: 16px 40px;
	background: #8CC63F;
	border-radius: 50px;
	display: inline-block;
	border: none;
	cursor: pointer;
}

.green__btn:hover {
	color: #fff;
	background: #70AA24;
}

/*end products page*/

/*spec page*/
.page__decr {
	margin-top: -70px;
	margin-bottom: 70px;
	color: #979797;
}

.spec__filter__items {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 40px;
}

.spec__filter__item {
	border: 1px solid #8CC63F;
	color: #373737;
	background: #fff;
	padding: 13px 20px;
	margin-right: -1px;
}

.filter_act {
	color: #fff;
	background: #8cc63f;
}

.spec__filter__item:hover {
	color: #8CC63F;
}

.spec__filter__item:first-child {
	border-radius: 50px 0px 0px 50px;
}

.spec__filter__item:last-child {
	border-radius: 0px 50px 50px 0px;
}

.spec__items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
	height: 1400px;
}

.spec__item {
	width: 32%;
	padding: 30px;
	color: #fff;
	min-height: 320px;
	margin-bottom: 25px;
}

.spec_directions {
	background: url('../img/bg02.png') center center no-repeat;
	background-size: cover;
}

.spec_products {
	background: #74AE27;
}

.spec__item_name {
	font-size: 10px;
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.spec__item_title {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 25px;
	color: #fff;
	display: inline-block;
	max-height: 200px;
	overflow: hidden;
}

.spec__item_title:hover {
	color: #fff;
}

.spec__item_title span:hover {
	color: #fff;
	display: inline;
	border-bottom: 1px solid #fff;
	max-height: 200px;
}

.spec__item_authors {
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 20px;
	display: inline-block;
}

.spec__item_read {
	border: 1px solid #FFFFFF;
	border-radius: 40px;
	padding: 10px 15px;
	color: #fff;
	display: inline-block;
}

.spec__item_read:hover {
	color: #fff;
	font-size: 18px;
	padding: 9px 15px;
}

.pagination {
	text-align: center;
	list-style: none;
    padding: 0;
    margin: 0;
}

.pagination_item {
    display: inline-block;
    color: #373737;
    text-align: center;
    margin-right: 35px;
}

.pagination_item:last-child {
	margin-right: 0;
}

.pagination_item a {
    color: #373737;
    display: block;
    text-decoration: none;
}

.pagination_item_act a {
    color: #8CC63F;
}

.pagination_item a:hover {
	color: #0067aa;
}

/*end spec page*/

/*questions page*/
.questions__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
}

.questions__content_left {
	width: 64.5%;
}

.questions__items {
	width: 100%;
}

.questions__item {
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	padding: 30px 0 30px 38px;
	position: relative;
}

.questions__item:before {
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	top: 30px;
	left: 0;
	background: url('../img/question.svg') center center no-repeat;
	background-size: contain;
}

.questions__item_top {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.questions__item_text {
	font-weight: 700;
	font-size: 10px;
	text-transform: uppercase;
	color: #979797;
	margin-right: 12px;
}

.open_btn {
	position: absolute;
	top: 30px;
	right: 0;
	width: 30px;
	height: 30px;
	background: url('../img/open_plus.svg') center center no-repeat;
	background-size: contain;
	cursor: pointer;
}

.open_btn:hover {
	background: url('../img/open_plus_hover.svg') center center no-repeat;
}

.open_btn.active {
	background: url('../img/open_minus.svg') center center no-repeat;
}

.open_btn.active:hover {
	background: url('../img/open_minus_hover.svg') center center no-repeat;
}

.questions__item_title {
	font-weight: 600;
	font-size: 16px;
	max-width: 90%;
}

.questions__item_content {
	margin-top: 35px;
	border: 1px solid #8cc63f;
	padding: 30px;
	display: none;
}

.questions__content_right {
	margin-top: 70px;
}

.form__block {
	width: 100%;
	margin-top: 24px;
}

.form__item {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 15px 20px;
	background: #F0F2F5;
	border: none;
	font-weight: 400;
	font-size: 14px;
}

.form__block .green__btn {
	float: right;
	margin-top: 10px;
}

.about-health__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 70px 0 55px 0;
}

.about-health__items .health__item {
	margin-bottom: 45px;
}

/*questions page*/